<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Face Recognition</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css"href="styles/index.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<!-- NavBar Begins -->
    <nav class="navbar navbar-inverse navbar-fixed-top ">
      <div class="container">
        <div class="navbar-header">

          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
          </button>

          <a class="navbar-brand navhead" href="#">Train Classifier</a>
        </div>
        <ul class="nav navbar-nav collapse navbar-collapse  "id="myNavbar">
          <li><a href="/">Test</a></li>
          <li class="active"><a href="/training">Train Classifier</a></li>
          <li><a href="#">Why us</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>
    </nav>
<!-- Navbar Ends  -->

<!-- Train Image -->
    <div class="container">
      <div class="row">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h2 class="panel-titl">Train Classifier</h2>
          </div>
          <div class="panel-body">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Upload Image</label>
                    <div class="input-group">
                        <span class="input-group-btn">
                            <span class="btn btn-default btn-file">
                                Browse… <input type="file" id="imgInp">
                            </span>
                        </span>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <img id='img-upload'/>
                </div>
            </div>
            <div class="col-md-1">

            </div>
            <div class="col-md-3">  
                  <!-- Upload Button -->
              <div class="row">
                <label for="upldbtn">Upload Image to Server </label>
                <button type="button" id="upldbtn"class="btn btn-primary"onclick="UploadToNodeServer();"style="width:100%"disabled>
                  <span class="navhead">Upload</span>
                </button>
              </div>

                  <br>
                <!-- Train Class Block -->
                <div class="row"id="trainBlock"style="visibility:hidden;">
                  <label>Class Name <code> = {'Linkin', 'Michael', 'Sucre', 'Tbag','nishant'}</code></label>
                  <!--  Class Name Input-->
                  <div class="input-group"style="width:100%">
                    <input type="text"id="className" class="form-control" placeholder="Enter class name for this image ...">                        
                  </div>
                  <br>
                  
                  <!-- Train Button -->
                  <label for="recognize">Train Classifier Neural Network </label>
                  <button type="button"id="train" class="btn btn-success"onclick="Train()" style="width:100%;"disabled>
                    <span class="navhead">Train</span>
                  </button>
                  
                </div>
            </div>
          </div>          
        </div>        
      </div>
    </div>
    <!--  Loader Modal Start-->
    <div class="modal fade" id="Loader" tabindex="-1" role="dialog"  aria-labelledby="" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body text-center">
              <img src="http://bestanimations.com/Science/Gears/loadinggears/loading-gears-animation-10.gif"width="50%"height="50%" alt="">
          </div>
        </div>
      </div>
    </div>
    <!--  Loader Modal Ends-->
  </body>
</html>

<!-- Upload Image js -->
<script src="js/uploadClient.js"></script>
<!-- Socket io -->
<script src="/socket.io/socket.io.js"></script>

<script>

var socket = io();

function UploadToNodeServer(){
var buf=$('#img-upload').attr('src');
socket.emit('imageUpload',{ image: true, buffer: buf ,format:sessionStorage.getItem('format'),role:'Train' });
// $('#upldbtn').addClass('disabled');
$('#upldbtn').attr('disabled','');

}
$('#className').on('input', (arguments) => {
  
  var classList=['Linkin', 'Michael', 'Sucre', 'Tbag','nishant'];
  
  if(classList.indexOf($('#className').val())!==-1)
    $('#train').removeAttr('disabled');
  else
    $('#train').removeAttr('disabled');
  
})
socket.on('UploadSuccess',function(msg){
  if(msg==='true'){
    alert("Image Uploaded Successfully");
    $('#trainBlock').css('visibility','visible');
        
    
  }
  else{
    alert("Error Unable to  Uploaded Image");
    // $('#upldbtn').removeClass('disabled');
    $('#upldbtn').removeAttr('disabled');
  }
});

function Train(){
  $.ajax({url: 'training/class/'+$('#className').val(), success: function(result){
        setTimeout(function(){callback(result,'success')},3000);
        console.log('success');
        
      },
      error: function(errorMsg){
        setTimeout(function(){callback(errorMsg,'failure')},3000);
        console.log('error');
      }
    });
    $('#Loader').modal({backdrop:'static'},'show');
}

function callback(result,status){  
  $('#Loader').modal('hide');
  if(status==='success'){    
       alert($('#className').val()+' Trained Successfully ');
       window.location.reload();
  }
  else{
       console.log(result);
       alert(result.responseJSON.error);
  }
}
</script>
